#include "xresources.d/theme/vscode_dark"

#define font_family_term monospace
#define font_family_gui sans-serif
#define font_size 12
#define font_style medium

! Xft/DPI in xrdb is the font resolution in DPI (dots/inch).
! The corresponding xsettingsd value is 1024*DPI.
!
!     % | DPI | 1024*DPI
! ------|-----|---------
! 100.0 |  96 |    98304
! 112.5 | 108 |   110592
! 125.0 | 120 |   122880
! 137.5 | 132 |   135168
! 150.0 | 144 |   147456
! 162.5 | 156 |   159744
! 175.0 | 168 |   172032
! 187.5 | 180 |   184320
! 200.0 | 192 |   196608

Xft.autohint: true
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.dpi: 108
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

*.font: font_family_gui:style=font_style:size=font_size

xterm*faceName: font_family_term
xterm*faceSize: font_size

Xcursor.size: 42

XScreenSaver.timeout: 0:02:00
XScreenSaver.cycle: 0:00:00
XScreenSaver.lock: True
XScreenSaver.lockTimeout: 0:00:00
XScreenSaver.passwdTimeout: 0:00:10
XScreenSaver.visualID: default
XScreenSaver.installColormap: True
XScreenSaver.verbose: False
XScreenSaver.splash: False
XScreenSaver.splashDuration: 0:00:05
XScreenSaver.demoCommand: xscreensaver-settings
XScreenSaver.nice: 10
XScreenSaver.fade: False
XScreenSaver.unfade: False
XScreenSaver.fadeSeconds: 0:00:01
XScreenSaver.ignoreUninstalledPrograms:False
XScreenSaver.dpmsEnabled: True
XScreenSaver.dpmsQuickOff: True
XScreenSaver.dpmsStandby: 0:02:00
XScreenSaver.dpmsSuspend: 0:02:00
XScreenSaver.dpmsOff: 0:02:00
XScreenSaver.grabDesktopImages: False
XScreenSaver.grabVideoFrames: False
XScreenSaver.chooseRandomImages: False
XScreenSaver.imageDirectory:
XScreenSaver.mode: blank
XScreenSaver.selected: -1
XScreenSaver.textMode: literal
XScreenSaver.textLiteral:
XScreenSaver.textFile:
XScreenSaver.textProgram:
XScreenSaver.textURL:
XScreenSaver.dialogTheme: darkgray
XScreenSaver.settingsGeom: 1440,1292 -1,-1
XScreenSaver.programs:
XScreenSaver.pointerHysteresis: 10
XScreenSaver.authWarningSlack: 20
