@-moz-document url(chrome://browser/content/browser.xul), url(chrome://browser/content/browser.xhtml)
{
  :root {
    --toolbarbutton-outer-padding: 2px !important;
  }

  :root[lwt-newtab-brighttext] {
    --newtab-background-color: var(--color-gray-90);
  }

  toolbar .toolbaritem-combined-buttons {
    margin-inline: 0 !important;
  }

  #urlbar-container {
    --urlbar-container-height: 30px !important;
  }

  #PanelUI-menu-button {
    padding-inline-end: 4px !important;
  }

  #nav-bar-customization-target {
    & > :is(toolbarbutton, toolbaritem):first-child {
      padding-inline-start: 4px !important;
    }
  }

  #tabbrowser-tabs .tabbrowser-tab {
    --tab-label-mask-size: 0.45em !important;
    padding: 0 1px !important;
  }

  #tabbrowser-tabs .tabbrowser-tab:not(:focus-within, :hover) .tab-close-button {
    display: none !important;
  }

  #tabbrowser-tabs .tabbrowser-tab:not([pinned="true"]) .tab-content .tab-icon-stack {
    display: none !important;
  }

  /* #tabbrowser-tabs { */
  /*   --tab-min-width: 200px !important; */
  /* } */
  /**/
  /* #tabbrowser-tabs .tabbrowser-tab:not([pinned="true"]) { */
  /*   max-width: 304px !important; */
  /* } */

  #tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])
    > #tabbrowser-arrowscrollbox
    > .tabbrowser-tab:nth-child(1 of :not([pinned], [hidden])) {
    margin-inline-start: 5px !important;
  }

  #tabbrowser-tabs #tabbrowser-arrowscrollbox .tab-label-container {
    height: 2.5em !important;
  }

  #sidebar-header {
    padding: 4px 8px !important;
    border-bottom: none !important;
  }

  #sidebar-search-container {
    padding: 4px 8px !important;
  }
}

@-moz-document url-prefix("about:home"), url-prefix("about:newtab"), url-prefix("about:blank") {
  menu.personalizeButtonWrapper {
    display: none !important;
  }
}
